main {
  width: 100%;
  height: 100%;
}
.monster {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 230px;
  height: 450px;

  .head {
    background: green;
    width: 100%;
    height: 25%;
    border-radius: 50%;

    .eyes {
      position: absolute;
      border-radius: 50%;
      background: white;
      border: 2px solid green;
      top: -10px;
      top: 5%;
      width: 40px;
      height: 40px;

      &.left {
        left: -20px;
      }
      &.right {
        right: -20px;
      }

      .eyeball {
        width: 80%;
        height: 80%;
        background: black;
        border-radius: 50%;
      }
    }
  }
}
