main {
  width: 100%;
  height: 100%;
}

.roundShape {
  border-radius: 50%;
}

.monster {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 230px;
  height: 450px;

  .head {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#67ac7f+0,6cbc87+50,67ac7f+50,67ac7f+100 */
    background: rgb(103, 172, 127); /* Old browsers */
    background: -moz-linear-gradient(
      left,
      rgba(103, 172, 127, 1) 0%,
      rgba(108, 188, 135, 1) 50%,
      rgba(103, 172, 127, 1) 50%,
      rgba(103, 172, 127, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      left,
      rgba(103, 172, 127, 1) 0%,
      rgba(108, 188, 135, 1) 50%,
      rgba(103, 172, 127, 1) 50%,
      rgba(103, 172, 127, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to right,
      rgba(103, 172, 127, 1) 0%,
      rgba(108, 188, 135, 1) 50%,
      rgba(103, 172, 127, 1) 50%,
      rgba(103, 172, 127, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67ac7f', endColorstr='#67ac7f',GradientType=1 ); /* IE6-9 */
    width: 100%;
    height: 25%;
    z-index: 2;
    position: relative;
    > .darkOverlay {
      border-radius: 50% / 0 50% 50% 0;
    }
    .eyes {
      position: absolute;
      background: white;
      border: 2px solid #66ab7f;
      top: -10px;
      top: 25%;
      width: 40px;
      height: 40px;

      &.left {
        left: -30px;
      }
      &.right {
        right: -30px;
      }

      .eyeball {
        width: 80%;
        height: 80%;
        background: #484160;
        border: 1px solid black;
        position: absolute;
        top: 10%;
        left: 5%;
        animation: eyesAnimation ease infinite 4s; /* IE 10+, Fx 29+ */

        .cirleBig,
        .cirleSmall {
          background: white;
        }
        .cirleBig {
          width: 60%;
          height: 60%;
          margin: 5% 0% 0% 10%;
          animation: eyesCircleBigAnimation ease infinite 4s; /* IE 10+, Fx 29+ */
        }
        .cirleSmall {
          width: 25%;
          height: 25%;
          margin: 0 0% 0 45%;
          animation: eyesCircleSmallAnimation ease infinite 4s; /* IE 10+, Fx 29+ */
        }
      }
    }
    .mouth {
      width: 50px;
      height: 5px;
      border-width: 10px;
      border-color: #448444;
      background: #448444;
      border-radius: 5px 5px 50% 50% / 50% 50% 50% 50%;
      border-style: solid;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      animation: mouthAnimation ease infinite 10s;

      .teeth {
        width: 75%;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 1px solid transparent;
        border-top: 15px solid white;
        border-style: solid;
        position: relative;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        animation: teethAnimation ease infinite 10s;
      }

      .drool {
        border-color: lightblue;
        border-style: solid;
        width: 0;
        height: 0;
        border-width: 0px 5px 6px 5px;
        position: absolute;
        top: 12px;
        transform: rotate(10deg);
        border-radius: 0% 50% 50% 50% / 20% 20% 50% 50%;
        animation: droolingAnimation ease infinite 10s;
      }
    }
  }
  .body {
    height: 55%;
    margin-top: -20%;
    background: #69a87d;
    width: 70%;
    margin-left: 15%;
    overflow: hidden;
    z-index: 1;
    position: relative;
    border-radius: 50%;

    .darkOverlay {
      background: rgba(0, 0, 0, 0.1);
      width: 50%;
      height: 100%;
      position: absolute;
      left: 50%;
      top: 0;
    }
    .belly {
      width: 80%;
      height: 85%;
      margin: 10% 0 0 10%;
      background: #7fc08f;
      display: inline-block;
    }
  }
  .hand {
    width: 50%;
    background: #69a87d;
    height: 8%;
    border-radius: 20px;
    position: absolute;
    top: 23%;
    z-index: 0;
    &.left {
      left: 0;
    }
    &.right {
      background: #5e9770;
      right: 0;
    }
  }
}

@-webkit-keyframes eyesAnimation {
  0% {
    top: 10%;
    left: 5%;
  }
  25% {
    top: 10%;
    left: 10%;
  }
  50% {
    top: 10%;
    left: 5%;
  }
}

@-webkit-keyframes eyesCircleBigAnimation {
  0% {
    margin: 5% 0% 0% 10%;
  }
  25% {
    margin: 5% 0% 0% 30%;
  }
  50% {
    margin: 5% 0% 0% 10%;
  }
}
@-webkit-keyframes eyesCircleSmallAnimation {
  0% {
    margin: 0% 0% 0% 45%;
  }
  25% {
    margin: 0% 0% 0% 20%;
  }
  50% {
    margin: 0% 0% 0% 45%;
  }
}

@-webkit-keyframes droolingAnimation {
  75% {
    height: 20px;
    top: 12px;
  }
  80% {
    height: 0px;
    top: 8px;
  }
  85% {
    top: 12px;
  }
}

@-webkit-keyframes mouthAnimation {
  75% {
    height: 5px;
    border-left-width: 10px;
    border-right-width: 10px;
  }
  80% {
    height: 0;
    border-left-width: 5px;
    border-right-width: 5px;
  }
  85% {
    height: 5px;
    border-left-width: 10px;
    border-right-width: 10px;
  }
}

@-webkit-keyframes teethAnimation {
  75% {
    width: 75%;
  }
  80% {
    width: 70%;
  }
  85% {
    width: 75%;
  }
}
