main {
  width: 100%;
  height: 100%;
}

.roundShape {
  border-radius: 50%;
}

.monster {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 230px;
  height: 450px;

  .head {
    background: rgb(103, 172, 127);
    background: -moz-linear-gradient(
      left,
      rgba(103, 172, 127, 1) 1%,
      rgba(103, 172, 127, 1) 50%,
      rgba(87, 170, 116, 1) 50%,
      rgba(87, 170, 116, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      left,
      rgba(103, 172, 127, 1) 1%,
      rgba(103, 172, 127, 1) 50%,
      rgba(87, 170, 116, 1) 50%,
      rgba(87, 170, 116, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      to right,
      rgba(103, 172, 127, 1) 1%,
      rgba(103, 172, 127, 1) 50%,
      rgba(87, 170, 116, 1) 50%,
      rgba(87, 170, 116, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67ac7f', endColorstr='#57aa74',GradientType=1 ); /* IE6-9 */
    width: 100%;
    height: 25%;
    position: relative;
    > .darkOverlay {
      border-radius: 50% / 0 50% 50% 0;
    }
    .eyes {
      position: absolute;
      background: white;
      border: 2px solid #66ab7f;
      top: -10px;
      top: 5%;
      width: 40px;
      height: 40px;

      &.left {
        left: -20px;
      }
      &.right {
        right: -20px;
      }

      .eyeball {
        width: 80%;
        height: 80%;
        background: #484160;
        border: 1px solid black;
        position: absolute;
        top: 10%;
        left: 5%;
        animation: eyesAnimation ease infinite 0.1s; /* IE 10+, Fx 29+ */

        .cirleBig,
        .cirleSmall {
          background: white;
        }
        .cirleBig {
          width: 60%;
          height: 60%;
          margin: 5% 0% 0% 10%;
        }
        .cirleSmall {
          width: 25%;
          height: 25%;
          margin: 0 0% 0 45%;
        }
      }
    }
    .mouth {
      width: 50px;
      height: 0;
      border-width: 10px;
      border-color: #448444;
      background: #448444;
      border-radius: 5px 5px 50% 50% / 50% 50% 50% 50%;
      border-style: solid;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);

      .teeth {
        width: 0px;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 1px solid transparent;
        border-top: 15px solid white;
        border-style: solid;
        margin-left: 2px;
        display: inline-block;
        position: relative;
        top: -10px;
      }
    }
  }
}
